body {
    width: 100%;
    height: 100%;
    background: #00f;
    font-size: 3vmin;
    overflow: hidden;
}

#CANVAS {
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 128vh;
    height: 96vh;
    margin: -48vh -64vh;
}

@media (orientation: portrait) {
    #CANVAS {
        width: 128vw;
        height: 96vw;
        transform-origin: center;
        transform: rotate(90deg);
        margin: -48vw -64vw;
    }
}

#MANUAL, #EDITOR {
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    height: 100%;
    background-color: rgba(255,255,255,.9);
    transition: none
}

#MANUAL {
    left: 0;
    transform: translateX(-100%);
}

#EDITOR {
    right: 0;
    transform: translateX(100%);
    box-shadow: -12px 0 24px rgba(0,0,0,.3);
}

body.show #MANUAL,
body.show #EDITOR {
    transition: transform .2s;
    transform: translateX(0);
}

#CODE {
    position: absolute;
    left: 1vw;
    top: 1vh;
    right: 1vw;
    bottom: 1vh;
    width: 48vw;
    height: 98vh;
    font-size: 2vmin;
    font-family: monospace;
    background: transparent;
    border: none;
}