body {
    width: 100%;
    height: 100%;
    background: #007;
    font-size: 1.2vmax;
    overflow: hidden;
    font-family: "Josefin Sans", josefin-sans, sans-serif;
    margin: 0;
    padding: 0;
}

body > * {
    vertical-align: top;
}

body * {
    box-sizing: border-box;
}

canvas {
    display: inline-block;
}

#CANVAS {
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 132vh;
    height: 99vh;
    margin: -49.5vh -66vh;
}
@media (orientation: portrait) {
    #CANVAS {
        width: 128vw;
        height: 96vw;
        transform-origin: center;
        transform: rotate(90deg);
        margin: -48vw -64vw;
    }
}

#HEADER {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
}

#HEADER > * {
    text-align: center;
}

#HEADER > div {
    cursor: pointer;
    padding: 0 1rem;
}

#HEADER > div:hover {
    background: rgba(255, 128, 0, 0.3);
}

#HELP {
    position: absolute;
    left: 0;
    top: 2rem;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    padding: 0 0.5rem;
}

#HELP pre {
    font-family: monospace;
    padding: 0.5rem;
    background: #eee;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

#HELP code {
    font-family: monospace;
}

#HELP blockquote {
    margin: 0.5em;
    box-shadow: -0.25em 0 #f90;
    background: linear-gradient(to right, #f906, #f900);
    padding: 1em;
    font-variant: small-caps;
}

#HELP blockquote > p {
    margin: 0;
}

#MANUAL,
#EDITOR {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    height: 100%;
    background-color: #fffe;
    transition: transform 0.2s;
}

#MANUAL {
    left: 0;
    transform: translateX(-100%);
}

#EDITOR {
    right: 0;
    transform: translateX(100%);
}

body.show #MANUAL,
body.show #EDITOR {
    transition: transform 0.2s;
    transform: translateX(0);
}

#CODE {
    position: absolute;
    left: 1vw;
    top: 1vh;
    right: 1vw;
    bottom: 1vh;
    width: 48vw;
    height: 98vh;
    font-size: 1vmax;
    font-family: monospace;
    background: transparent;
    border: none;
}

div.tfw-message {
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    margin: 0;
}

#ERROR {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#ERROR[open] {
    display: grid;
    place-items: center;
    background-color: #fff0;
}

#ERROR > div {
    border-radius: 1em;
    border: none;
    box-shadow: 0 1em 2em #000;
    padding: 1em;
    max-width: 640px;
    background-color: #fffe;
}

#ERROR > div pre {
    white-space: pre-wrap;
    max-height: 66vh;
    overflow: auto;
    font-weight: bold;
    color: #900;
}
